<div class='span8 offset2'>
  <div class='well'>
    <table class='table'>
      <thead>
        <tr>
          <th class='span3'>name</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>English 10</th>
          <td>The 10th grade English class is designed to enhance each student's knowledge of American Literature related to the economic, social, and cultural events from 1600 to 1914. The class will focus on the historical context of the seleccted readings and examine the style, point of view, and tone used by each of the authors.</td>
        </tr>
        <tr>
          <td>English 11</th>
          <td>The 11th grade Language Arts/English class will be focusing on Modern and Contemporary American Literature. Specifically, we will focus on how each work relates to the economic, social, and cultural event from 1914 to the present. The class will discuss the historical context of the selected readings and examine the style, point of view, and tone used by each of the authors.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
