<div class='span8 offset2'>
  <div class='well'>
    <table class='table'>
      <thead>
        <tr>
          <th>due</th>
          <th>name</th>
          <th>assigned</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8/27/12</th>
          <td>Study Week 1 Vocabulary</td>
          <td>7/5/12</th>
        </tr>
          <td>9/15/12</th>
          <td>Finish Problem Set #2</td>
          <td>8/1/12</th>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
