<div class='span8 offset2'>
  <div class='well'>
    <h1>Finish Problem Set #2</h1>
    <div class='field-name'>assigned</div>
    <div class='field-value'>08/27/12</div>
    <div class='field-name'>due</div>
    <div class='field-value'>09/05/12</div>
    <div class='field-name'>description</div>
    <div class='field-value sm-text'>The 10th grade English class is designed to enhance each student's knowledge of American Literature related to the economic, social, and cultural events from 1600 to 1914. The class will focus on the historical context of the seleccted readings and examine the style, point of view, and tone used by each of the authors.</div>
  </div>
</div>
